extends layout

block content
    body
        #userInfo(style='solid #aad; background: #dbd')
            .status
                h3  
                        li Home
                        li Account
                        li Add an Ad