extends layout

block content
  h1 My Store
  body
    #form-container1(style='width:400; margin:auto')
        #login.center-vertical
            form.well(id='form-login', method='post')
                h2 Hello!
                h6 Please Login To Your Account
            .form-group
                label Username
                input.form-control(type='text', id='user-tf', name='user')
            .form-group
                label Password
                input.form-control(type='password', id='pass-tf', name='pass')
            .controls
                button(type='submit').btn.btn-primary.button-sign-in
                    span.glyphicon.glyphicon-lock
                    | Sign In
                .clearfix
                    hr
                    .btm-links
                        #forgot-password
                            a(href='#') Forgot Your Password?
                        #create-account
                            a(href='/register') Create An Account
                        .clearfix