html
head
    
    title=MyStore
    link(rel= 'stylesheet',href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css') 
    #leabel-head(style='top: 10px solid #add; margin-bottom: auto; padding-top: 20px; background: #ddd')
        h1 My Store
    block content
    
        
    #credits(style='bottom: 10px solid #add; margin-bottom: 50px; padding-top: 20px; background: #ddd')
        a My Store
        p I go where where the offer is !!