extends layout

block content

  body
    #form-container1(style='width:500; margin:auto')
        #login.center-vertical
        
        form.well( method='post')
                h3 Register as a New User
                h6 Please Enter your Account Information
                
                label UserName
                input.form-control(type='text', id='username',placeholder='Your Name', name='username',class='form-control', required)
                
                label Email 
                input.form-control(type='text', id='email',placeholder='Your Email', name='email',class='form-control', required)
                
                label Password
                input.form-control(type='password', id='password',placeholder='Password', name='password',class='form-control' ,required)
               
                button(type='submit').btn.btn-primary.button-sign-in
                    | Register
                .clearfix
                    a(href='/') Log in
                    

